{% extends 'layouts/base.html' %}
{% load static %}

    {% block title %} Bienvenida {% endblock title %}

    {% block content %}
    <div class="container">
        <div class="row">
          
          <div class="col-12">
            <form>
              {{personasForm.as_p}}
            </form>
          
          </div>
        </div>
      </div>

    {% endblock content %}
    {% block scripts %}
    <script>
      $(document).ready(function(){
        $("#id_municipio").attr("disabled","disabled")
      });
      $("#id_estado").change(function(){
        id_estado = $(this).val()
        $.ajax({
        method: "POST",
        url: "{% url 'ajaxFiltarEstados' %}",
        headers: {
            'X-CSRFToken':'{{ csrf_token }}'
        },
        data: {
              "id_estado":id_estado
            },
        success: function(response){
            $("#id_municipio").removeAttr("disabled")
            opcion = ""
            $("#id_municipio").html("<option value=''>-----</opcion>")
            $.each( response["municipios"], function( key, value ){
                opcion += "<option value='"+value.id+"'>"+value.nombre+"</opcion>"
            });
            $("#id_municipio").append(opcion)
            
         
       
        }
      });
      });
    </script>
    {% endblock scripts %}

